@include fontFace("icon-font", $fontPath + '/icon-font/icon-font', 400, normal);

[class^="icon-"],
[class*=" icon-"],
.icon-font {
font-family: "icon-font" !important;
font-style: normal;
font-variant: normal;
font-weight: normal !important;
text-decoration: none;
text-transform: none;
display: inline-block;
line-height: 1;
speak: none;
font-variant: normal;
/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-account-facebook-gray:before {
content: "\f101";
}
.icon-account-facebook-gray-content {
content: "\f101"!important;
}
.icon-account-facebook:before {
content: "\f102";
}
.icon-account-facebook-content {
content: "\f102"!important;
}
.icon-account-google-gray:before {
content: "\f103";
}
.icon-account-google-gray-content {
content: "\f103"!important;
}
.icon-account-google:before {
content: "\f104";
}
.icon-account-google-content {
content: "\f104"!important;
}
.icon-account-snapchat-gray:before {
content: "\f105";
}
.icon-account-snapchat-gray-content {
content: "\f105"!important;
}
.icon-account-snapchat:before {
content: "\f106";
}
.icon-account-snapchat-content {
content: "\f106"!important;
}
.icon-account-tiktok-gray:before {
content: "\f107";
}
.icon-account-tiktok-gray-content {
content: "\f107"!important;
}
.icon-account-tiktok:before {
content: "\f108";
}
.icon-account-tiktok-content {
content: "\f108"!important;
}
.icon-account-twitter-gray:before {
content: "\f109";
}
.icon-account-twitter-gray-content {
content: "\f109"!important;
}
.icon-account-twitter:before {
content: "\f10a";
}
.icon-account-twitter-content {
content: "\f10a"!important;
}
.icon-alert-error:before {
content: "\f10b";
}
.icon-alert-error-content {
content: "\f10b"!important;
}
.icon-alert-success:before {
content: "\f10c";
}
.icon-alert-success-content {
content: "\f10c"!important;
}
.icon-alert-warning:before {
content: "\f10d";
}
.icon-alert-warning-content {
content: "\f10d"!important;
}
.icon-android-icon:before {
content: "\f10e";
}
.icon-android-icon-content {
content: "\f10e"!important;
}
.icon-android:before {
content: "\f10f";
}
.icon-android-content {
content: "\f10f"!important;
}
.icon-application:before {
content: "\f110";
}
.icon-application-content {
content: "\f110"!important;
}
.icon-arrow-down:before {
content: "\f111";
}
.icon-arrow-down-content {
content: "\f111"!important;
}
.icon-arrow-left:before {
content: "\f112";
}
.icon-arrow-left-content {
content: "\f112"!important;
}
.icon-arrow-right:before {
content: "\f113";
}
.icon-arrow-right-content {
content: "\f113"!important;
}
.icon-arrow-thin-left:before {
content: "\f114";
}
.icon-arrow-thin-left-content {
content: "\f114"!important;
}
.icon-arrow-thin-right:before {
content: "\f115";
}
.icon-arrow-thin-right-content {
content: "\f115"!important;
}
.icon-arrow-up:before {
content: "\f116";
}
.icon-arrow-up-content {
content: "\f116"!important;
}
.icon-avatar:before {
content: "\f117";
}
.icon-avatar-content {
content: "\f117"!important;
}
.icon-bell:before {
content: "\f118";
}
.icon-bell-content {
content: "\f118"!important;
}
.icon-bullhorn:before {
content: "\f119";
}
.icon-bullhorn-content {
content: "\f119"!important;
}
.icon-checkbox-checked:before {
content: "\f11a";
}
.icon-checkbox-checked-content {
content: "\f11a"!important;
}
.icon-checkbox-minus:before {
content: "\f11b";
}
.icon-checkbox-minus-content {
content: "\f11b"!important;
}
.icon-checkbox:before {
content: "\f11c";
}
.icon-checkbox-content {
content: "\f11c"!important;
}
.icon-close-2:before {
content: "\f11d";
}
.icon-close-2-content {
content: "\f11d"!important;
}
.icon-close:before {
content: "\f11e";
}
.icon-close-content {
content: "\f11e"!important;
}
.icon-cog:before {
content: "\f11f";
}
.icon-cog-content {
content: "\f11f"!important;
}
.icon-collapse-arrow-down:before {
content: "\f120";
}
.icon-collapse-arrow-down-content {
content: "\f120"!important;
}
.icon-connection-error:before {
content: "\f121";
}
.icon-connection-error-content {
content: "\f121"!important;
}
.icon-date:before {
content: "\f122";
}
.icon-date-content {
content: "\f122"!important;
}
.icon-dots:before {
content: "\f123";
}
.icon-dots-content {
content: "\f123"!important;
}
.icon-duplicate:before {
content: "\f124";
}
.icon-duplicate-content {
content: "\f124"!important;
}
.icon-edit:before {
content: "\f125";
}
.icon-edit-content {
content: "\f125"!important;
}
.icon-empty:before {
content: "\f126";
}
.icon-empty-content {
content: "\f126"!important;
}
.icon-expansion-active:before {
content: "\f127";
}
.icon-expansion-active-content {
content: "\f127"!important;
}
.icon-expansion-passive:before {
content: "\f128";
}
.icon-expansion-passive-content {
content: "\f128"!important;
}
.icon-export:before {
content: "\f129";
}
.icon-export-content {
content: "\f129"!important;
}
.icon-facebook:before {
content: "\f12a";
}
.icon-facebook-content {
content: "\f12a"!important;
}
.icon-facebook2:before {
content: "\f12b";
}
.icon-facebook2-content {
content: "\f12b"!important;
}
.icon-filter:before {
content: "\f12c";
}
.icon-filter-content {
content: "\f12c"!important;
}
.icon-google:before {
content: "\f12d";
}
.icon-google-content {
content: "\f12d"!important;
}
.icon-google2:before {
content: "\f12e";
}
.icon-google2-content {
content: "\f12e"!important;
}
.icon-has-no-permission:before {
content: "\f12f";
}
.icon-has-no-permission-content {
content: "\f12f"!important;
}
.icon-info:before {
content: "\f130";
}
.icon-info-content {
content: "\f130"!important;
}
.icon-ios-icon:before {
content: "\f131";
}
.icon-ios-icon-content {
content: "\f131"!important;
}
.icon-ios:before {
content: "\f132";
}
.icon-ios-content {
content: "\f132"!important;
}
.icon-media-library:before {
content: "\f133";
}
.icon-media-library-content {
content: "\f133"!important;
}
.icon-media:before {
content: "\f134";
}
.icon-media-content {
content: "\f134"!important;
}
.icon-menu-account:before {
content: "\f135";
}
.icon-menu-account-content {
content: "\f135"!important;
}
.icon-menu-campaign:before {
content: "\f136";
}
.icon-menu-campaign-content {
content: "\f136"!important;
}
.icon-menu-dashboard:before {
content: "\f137";
}
.icon-menu-dashboard-content {
content: "\f137"!important;
}
.icon-menu-masses:before {
content: "\f138";
}
.icon-menu-masses-content {
content: "\f138"!important;
}
.icon-menu-media:before {
content: "\f139";
}
.icon-menu-media-content {
content: "\f139"!important;
}
.icon-menu-report:before {
content: "\f13a";
}
.icon-menu-report-content {
content: "\f13a"!important;
}
.icon-menu-rule:before {
content: "\f13b";
}
.icon-menu-rule-content {
content: "\f13b"!important;
}
.icon-menu-settings:before {
content: "\f13c";
}
.icon-menu-settings-content {
content: "\f13c"!important;
}
.icon-menu-translate:before {
content: "\f13d";
}
.icon-menu-translate-content {
content: "\f13d"!important;
}
.icon-menu-user:before {
content: "\f13e";
}
.icon-menu-user-content {
content: "\f13e"!important;
}
.icon-notification-media:before {
content: "\f13f";
}
.icon-notification-media-content {
content: "\f13f"!important;
}
.icon-pause:before {
content: "\f140";
}
.icon-pause-content {
content: "\f140"!important;
}
.icon-permission-message:before {
content: "\f141";
}
.icon-permission-message-content {
content: "\f141"!important;
}
.icon-play:before {
content: "\f142";
}
.icon-play-content {
content: "\f142"!important;
}
.icon-plus-2:before {
content: "\f143";
}
.icon-plus-2-content {
content: "\f143"!important;
}
.icon-plus-3:before {
content: "\f144";
}
.icon-plus-3-content {
content: "\f144"!important;
}
.icon-plus:before {
content: "\f145";
}
.icon-plus-content {
content: "\f145"!important;
}
.icon-question:before {
content: "\f146";
}
.icon-question-content {
content: "\f146"!important;
}
.icon-radio-checked:before {
content: "\f147";
}
.icon-radio-checked-content {
content: "\f147"!important;
}
.icon-radio:before {
content: "\f148";
}
.icon-radio-content {
content: "\f148"!important;
}
.icon-rockads-icon:before {
content: "\f149";
}
.icon-rockads-icon-content {
content: "\f149"!important;
}
.icon-rockads-logo:before {
content: "\f14a";
}
.icon-rockads-logo-content {
content: "\f14a"!important;
}
.icon-search:before {
content: "\f14b";
}
.icon-search-content {
content: "\f14b"!important;
}
.icon-stop:before {
content: "\f14c";
}
.icon-stop-content {
content: "\f14c"!important;
}
.icon-success:before {
content: "\f14d";
}
.icon-success-content {
content: "\f14d"!important;
}
.icon-successful:before {
content: "\f14e";
}
.icon-successful-content {
content: "\f14e"!important;
}
.icon-tick:before {
content: "\f14f";
}
.icon-tick-content {
content: "\f14f"!important;
}
.icon-trash:before {
content: "\f150";
}
.icon-trash-content {
content: "\f150"!important;
}
.icon-tubitak-share:before {
content: "\f151";
}
.icon-tubitak-share-content {
content: "\f151"!important;
}
.icon-unsuccess:before {
content: "\f152";
}
.icon-unsuccess-content {
content: "\f152"!important;
}
.icon-unsuccessful:before {
content: "\f153";
}
.icon-unsuccessful-content {
content: "\f153"!important;
}
.icon-upload-media:before {
content: "\f154";
}
.icon-upload-media-content {
content: "\f154"!important;
}
.icon-upload:before {
content: "\f155";
}
.icon-upload-content {
content: "\f155"!important;
}
.icon-verification:before {
content: "\f156";
}
.icon-verification-content {
content: "\f156"!important;
}
.icon-wallet:before {
content: "\f157";
}
.icon-wallet-content {
content: "\f157"!important;
}
